@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@theme {
    --color-primary: #23001e;
    --color-secondary: #b9314f;
    --color-tertiary: #c77dff;
    --color-background: #f5f0ff;
    --color-outline: #230903;
    --color-paper: #fffdf7;
}

:root {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
}
